<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Lista de Tarefas</h1>
        <div class="add-task">
            <input v-model="newTask" @keyup.enter="addTask" placeholder="Adicionar nova tarefa">
            <button @click="addTask">Adicionar</button>
        </div>
        <ul class="task-list">
            <li v-for="(task, index) in tasks" :key="index" :class="{ completed: task.completed }">
                <div v-if="task.editing">
                    <input v-model="task.editText" @keyup.enter="finishEdit(index)" @blur="finishEdit(index)">
                </div>
                <div v-else>
                    <input type="checkbox" v-model="task.completed">
                    <span @dblclick="startEdit(index)">{{ task.text }}</span>
                    <button @click="removeTask(index)">Remover</button>
                </div>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>